<% if (produse.length > 0) { %>
  <table border="1" cellpadding="8">
    <tr>
      <th>Nume</th>
      <th>Preț</th>
    </tr>

    <% produse.forEach((produs) => { %>
      <tr>
        <td><%= produs.nume %></td>
        <td><%= produs.pret %></td>
      </tr>
    <% }) %>
  </table>
<% } else { %>
  <p>Nu există produse în baza de date.</p>
<% } %>

<br>
